.category-btns-container {
    display: flex;
    align-content: stretch;
    margin: 0rem 2rem 2rem 2rem;
    gap: 1rem 2rem;
    flex-wrap: wrap;
}

.category-btns-container p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: #5264C3;
}